<div class="container">
  <div class="header">
    <h2 class="text-muted">Muuvee | <small>Dead. Simple. Movies.</small></h3>
  </div><br />
  <div class="jumbotron">
    <h1>Simple Movie Search</h1>
    <p class="lead">Search any movie title and enjoy the ad-free experience while learning more about your favorite movies. Thank you for choosing Muuvee!</p>
    <p><%= form_tag(search_path, method: 'get', class: "search") do %>
    <div class="form-group">
      <%= text_field_tag(:title, nil, class: "form-control", placeholder: "Enter Movie Title") %>
      <br /> <%= submit_tag "Submit", :name => nil, class: "btn btn-default" %>
    </div>
    <% end %></p>
  </div>
  <div class="row marketing">
    <div class="col-lg-4">
      <h4 style="text-align: center;">Featured Movie of the Week</h4>
      <p><%= link_to image_tag('tusk.jpg', class: "img-responsive"), "http://localhost:3000/search?utf8=%E2%9C%93&title=tusk" %></p>
    </div>
    <div class="col-lg-4">
      <h4 style="text-align: center;">Featured Movie of the Month</h4>
      <p><%= link_to image_tag('grand.jpg', class: "img-responsive"), "http://localhost:3000/search?utf8=%E2%9C%93&title=grand+budapest" %></p>
    </div>
    <div class="col-lg-4">
      <h4 style="text-align: center;">Featured Movie of the Year</h4>
      <p><%= link_to image_tag('apes.jpg', class: "img-responsive"), "http://localhost:3000/search?utf8=%E2%9C%93&title=Dawn+of+the+planet+of+the+apes" %></p>
    </div>
  </div>
</div>